
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0d0e;
}
.navItems ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navItems ul li{
    list-style: none;
    margin: 0 10px;
    color:#9ea0a4;
}
.status p{
    color: #9ea0a4;
    margin-right: 30px;
}
.logo h1{
color: #9ea0a4;
margin-left: 30px;
}
.logo h1:hover ,.navItems ul li:hover , .status p:hover{
    color:aliceblue;
    cursor: pointer;
}
i{
    margin: 0 10px;
}
.header{
    height: 10vw;
    background-color: #0c0d0e;
    margin-top: 30px;
}
.header h1{
   
    font-size: 80px;
    font-weight: 900;
    bottom:-20px;
    color: #9ea0a4;
    margin-left: 200px;
  position: relative;

   
}
.header i{
    font-size: 40px;
    position: relative;
top:-10px;
    color:#4649FF;
}
.header i:hover{
    color: aliceblue;
}
.manage{
    width: 60%;
    margin: 0 auto;
    background-color: #0c0d0e;
    margin-top: 30px;
    color: #9ea0a4;
}
.manage h1{
    color:white;
    padding: 10px;
}
.addCat{
    width: 80%;
    margin: 5px auto;
}
.addCat input{
    width: 100%;
    height: 25px;
    margin-top: 5px;
}
.manageBtn{
    width: 60%;
    margin: 5px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: aqua;
}
.manageBtn button{
    height: 25px;
}
.manageBtn button:nth-of-type(2){
    background-color: #7FB77E;

}
.session{
    background-color: red;
    width:60%;
    margin: 0 auto;
    height: 35px;
}
.sessionGreen{
    background-color: #7FB77E;
    width:60%;
    margin: 0 auto;
    height: 35px;
}
.addCat select{
    width: 100%;
    height: 25px;
    margin-top: 5px;

}
.addPost{
    width: 80%;
    margin: 5px auto;
}
.addPost input{
    width: 100%;
    height: 25px;
    margin-top: 5px;
}
.panel{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}
.panel button{
    width: 100%;
    margin-top: 30px;
    height: 25px;
}
.postShow{
    width: 80%;
    margin: 20px auto;
}
.cmt{

}
.lpre{
    background-color: palegreen;
    font-weight: 400;
}
.edit button:nth-of-type(1)
{
    background-color: yellow;

}
.edit button:nth-of-type(2){
    background-color: red;
}
.blogShow{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin:20px auto ;
    width: 80%;
}
.content{
    background-color:aliceblue;
}
.side-content{
    background-color: aqua;
}
.topHeading{
    display: grid;
    grid-template-columns: 3fr 1fr;

    align-items: center;
    
  

}
.blogImage{
    width: 100%;
}